Integration Google Sheets, Google Vertex AI (Gemini).blueprint (1).json
{
    "name": "Integration Google Sheets, Google Vertex AI (Gemini)",
    "flow": [
        {
            "id": 1,
            "module": "google-sheets:watchRows",
            "version": 2,
            "parameters": {
                "from": "drive",
                "mode": "select",
                "limit": 1,
                "sheetId": "Sheet1",
                "__IMTCONN__": 8227341,
                "spreadsheetId": "/1wN24PIqSjigyjuvvRiLozjVh4kQMMZxoqUOdBTVIA6M",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -674,
                    "y": 28
                },
                "restore": {
                    "parameters": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Sheet1"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection"
                        },
                        "spreadsheetId": {
                            "path": [
                                "youtube short"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "topic  (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Status (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Generated script (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "Title  (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Description (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Link (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "(G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "(H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 20,
            "module": "gemini-ai:simpleTextPrompt",
            "version": 1,
            "parameters": {},
            "mapper": {
                "model": "gemini-2.5-flash",
                "textPrompt": "Write a highly engaging, punchy YouTube Shorts video script based on the following topic. (response format :JSON Object with valid JSON)\r\n\r\n\r\n\r\nTopic: \r\n{{1.`0`}}CRITICAL FORMATTING INSTRUCTION: You must separate your output sections using exactly three dashes \"---\". Output your response exactly like this, with no extra text or conversational filler:\r\n\r\n[Write the video script here]\r\n---\r\n[Write the catchy video title here]\r\n---\r\n[Write the video description and hashtags here]"
            },
            "metadata": {
                "designer": {
                    "x": -334,
                    "y": 16
                },
                "restore": {
                    "expect": {
                        "model": {
                            "label": "Gemini 2.5 FlashApplies smart reasoning to fast data tasks while ensuring quick response times"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true,
                        "validate": {
                            "enum": [
                                "gemini-3.5-flash",
                                "gemini-3.1-pro-preview",
                                "gemini-3-flash-preview",
                                "gemini-2.5-pro",
                                "gemini-2.5-flash"
                            ]
                        }
                    },
                    {
                        "name": "textPrompt",
                        "type": "text",
                        "label": "Text prompt",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 32,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": [
                    "{{20.result}}"
                ]
            },
            "metadata": {
                "designer": {
                    "x": -25,
                    "y": 9
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 34,
            "module": "util:ComposeTransformer",
            "version": 1,
            "parameters": {},
            "mapper": {
                "value": "{\r\n  \"comment\": \"Scene\",\r\n  \"elements\": [\r\n    {\r\n      \"type\": \"voice\",\r\n      \"text\": \"{{32.value}}\",\r\n      \"voice\": \"en-US-EmmaMultilingualNeural\",\r\n      \"model\": \"azure\"\r\n    }\r\n  ]\r\n}"
            },
            "metadata": {
                "designer": {
                    "x": 238,
                    "y": 1
                },
                "restore": {},
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text"
                    }
                ]
            }
        },
        {
            "id": 31,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": 458073
            },
            "mapper": {
                "json": "{{34.value}}"
            },
            "metadata": {
                "designer": {
                    "x": 474,
                    "y": -5
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "My data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "help": "",
                        "name": "Authorization",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    }
                ]
            }
        },
        {
            "id": 22,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 32
            },
            "mapper": {
                "title": "{{31.title}}",
                "script": "{{31.script}}",
                "description": "{{31.description}}"
            },
            "metadata": {
                "designer": {
                    "x": 740,
                    "y": -8
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Iterator [32]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 35,
            "module": "json:TransformToJSON",
            "version": 1,
            "parameters": {
                "space": ""
            },
            "mapper": {
                "object": "{{22.array[].script}}"
            },
            "metadata": {
                "designer": {
                    "x": 986,
                    "y": -10
                },
                "restore": {
                    "parameters": {
                        "space": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "space",
                        "type": "select",
                        "label": "Indentation",
                        "validate": {
                            "enum": [
                                "tab",
                                "2",
                                "4"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "object",
                        "type": "any",
                        "label": "Object"
                    }
                ]
            }
        },
        {
            "id": 21,
            "module": "json2video:createmovie",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 8227448
            },
            "mapper": {
                "movie_json": "{\r\n  \"comment\": \"Scene Iteration\",\r\n  \"elements\": [\r\n    {\r\n      \"type\": \"voice\",\r\n      \"text\": \"{{35.json}}\",\r\n      \"voice\": \"en-US-EmmaMultilingualNeural\",\r\n      \"model\": \"azure\"\r\n    },\r\n    {\r\n      \"type\": \"subtitles\",\r\n      \"style\": {\r\n        \"font-size\": \"36px\",\r\n        \"color\": \"#ffffff\",\r\n        \"position\": \"center\"\r\n      }\r\n    }\r\n  ]\r\n}"
            },
            "metadata": {
                "designer": {
                    "x": 1257,
                    "y": -8
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "json2video"
                            },
                            "label": "My JSON2Video connection (sahilingale4444@gmail.com - render)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:json2video",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "movie_json",
                        "type": "text",
                        "label": "Movie JSON",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 23,
            "module": "json2video:waitForAMovieToRender",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 8227459
            },
            "mapper": {
                "project": "{{21.project}}"
            },
            "metadata": {
                "designer": {
                    "x": 1514,
                    "y": 2
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "json2video"
                            },
                            "label": "My JSON2Video connection (sahilingale4444@gmail.com - render)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:json2video",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "project",
                        "type": "text",
                        "label": "Project ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 24,
            "module": "youtube:uploadVideo",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 8242835
            },
            "mapper": {
                "data": "{{23.movie.url}}",
                "title": "{{1.`0`}}",
                "fileName": "short.mp3",
                "categoryId": "27",
                "privacyStatus": "public",
                "containsSyntheticMedia": false,
                "selfDeclaredMadeForKids": false
            },
            "metadata": {
                "designer": {
                    "x": 1770,
                    "y": 2
                },
                "restore": {
                    "expect": {
                        "tags": {
                            "mode": "chose"
                        },
                        "license": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "categoryId": {
                            "mode": "chose",
                            "label": "Education"
                        },
                        "embeddable": {
                            "mode": "chose"
                        },
                        "privacyStatus": {
                            "mode": "chose",
                            "label": "Public"
                        },
                        "notifySubscribers": {
                            "mode": "chose"
                        },
                        "containsSyntheticMedia": {
                            "mode": "chose"
                        },
                        "selfDeclaredMadeForKids": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "youtube"
                            },
                            "label": "My YouTube connection (sahil Ingle <sahilingle140@gmail.com>)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:youtube",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title",
                        "required": true,
                        "validate": {
                            "max": 100
                        }
                    },
                    {
                        "name": "fileName",
                        "type": "filename",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "categoryId",
                        "type": "select",
                        "label": "Video Category",
                        "required": true
                    },
                    {
                        "name": "privacyStatus",
                        "type": "select",
                        "label": "Privacy Status and Scheduling",
                        "required": true,
                        "validate": {
                            "enum": [
                                "private",
                                "unlisted",
                                "public"
                            ]
                        }
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description",
                        "validate": {
                            "max": 5000
                        }
                    },
                    {
                        "name": "selfDeclaredMadeForKids",
                        "type": "boolean",
                        "label": "**The video is made for kids**",
                        "required": true
                    },
                    {
                        "name": "containsSyntheticMedia",
                        "type": "boolean",
                        "label": "**The video contains altered/synthetic media**",
                        "required": true
                    },
                    {
                        "name": "tags",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Tag",
                            "required": true,
                            "validate": {
                                "max": 500
                            }
                        },
                        "type": "array",
                        "label": "Tags"
                    },
                    {
                        "name": "recordingDate",
                        "type": "date",
                        "label": "Recording Date"
                    },
                    {
                        "name": "license",
                        "type": "select",
                        "label": "License",
                        "validate": {
                            "enum": [
                                "youtube",
                                "creativeCommon"
                            ]
                        }
                    },
                    {
                        "name": "embeddable",
                        "type": "boolean",
                        "label": "Allow Embedding"
                    },
                    {
                        "name": "notifySubscribers",
                        "type": "boolean",
                        "label": "Notify Subscribers"
                    }
                ]
            }
        },
        {
            "id": 18,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 8227485
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                    "0": "{{1.`0`}}",
                    "1": "{{24.status.uploadStatus}}",
                    "2": "script",
                    "3": "{{24.snippet.title}}",
                    "4": "{{24.snippet.description}}",
                    "5": "link"
                },
                "sheetId": "Sheet1",
                "rowNumber": "2",
                "spreadsheetId": "/1wN24PIqSjigyjuvvRiLozjVh4kQMMZxoqUOdBTVIA6M",
                "includesHeaders": true,
                "useColumnHeaders": false,
                "valueInputOption": "USER_ENTERED"
            },
            "metadata": {
                "designer": {
                    "x": 2071,
                    "y": -5
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Sheet1"
                        },
                        "spreadsheetId": {
                            "path": [
                                "youtube short"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "useColumnHeaders": {
                            "label": "No",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "topic  (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "Status (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "Generated script (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "Title  (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "Description (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "Link (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "(G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "(H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "(I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "(J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "(K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "(L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "(M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "(N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "(O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "(P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "(Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "(R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "(S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "(T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "(U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "(V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "(W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "(X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "(Y)"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "(Z)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values in columns",
                                    "metadata": [
                                        [
                                            [
                                                "topic ",
                                                "Status",
                                                "Generated script",
                                                "Title ",
                                                "Description",
                                                "Link"
                                            ]
                                        ]
                                    ]
                                }
                            ]
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (sahilingale4444@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet Name",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "rowNumber",
                        "type": "uinteger",
                        "label": "Row number",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "useColumnHeaders",
                        "type": "select",
                        "label": "Use column headers as IDs of the columns",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "topic  (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "Status (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "Generated script (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "Title  (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "Description (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "Link (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "(G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "(H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "(I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "(J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "(K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "(L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "(M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values in columns",
                        "metadata": [
                            [
                                [
                                    "topic ",
                                    "Status",
                                    "Generated script",
                                    "Title ",
                                    "Description",
                                    "Link"
                                ]
                            ]
                        ]
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [
                [
                    {
                        "id": 42,
                        "module": "openai-gpt-3:CreateCompletion",
                        "version": 1,
                        "parameters": {
                            "__IMTCONN__": 8263102
                        },
                        "mapper": {
                            "model": "gpt-5.5",
                            "top_p": "1",
                            "select": "chat",
                            "messages": [
                                {
                                    "role": "user",
                                    "content": "Write a highly engaging, punchy YouTube Shorts video script based on the following topic.\r\n\r\nTopic: {{1.`0`}}\r\nCRITICAL FORMATTING INSTRUCTIONS:\r\n1. Divide the script into short, punchy, individual scenes or sentences (max 10-15 words per line).\r\n2. You must separate each scene/line using exactly three dashes on a brand new line (\"---\").\r\n3. Do not include any conversational filler, introductory remarks, or concluding text. Output ONLY the raw scenes separated by the dashes.\r\n\r\nExample Output Format:\r\n[Visual: Fast edit] Audio: Stop learning coding the old way!\r\n---\r\n[Visual: Screen glowing] Audio: AI is changing everything in 2026.\r\n---\r\n[Visual: Text graphic] Audio: Focus on logic and architecture instead."
                                }
                            ],
                            "max_tokens": "2048",
                            "temperature": "1",
                            "n_completions": "1",
                            "response_format": "text"
                        },
                        "metadata": {
                            "designer": {
                                "x": -359,
                                "y": 838,
                                "messages": [
                                    {
                                        "category": "reference",
                                        "severity": "error",
                                        "message": "'OpenAI (ChatGPT, Sora, Whisper) - Generate a completion' [module ID 42] references inaccessible module 'Google Sheets - Watch New Rows' [module ID 1]."
                                    },
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "This module is not connected to the flow. This module and everything after it will be skipped during execution. <autoconnect>Link it to your scenario to include them.</autoconnect>"
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "stop": {
                                        "mode": "chose"
                                    },
                                    "model": {
                                        "mode": "chose",
                                        "label": "gpt-5.5 (system)"
                                    },
                                    "select": {
                                        "label": "Create a Chat Completion (GPT and o1 models)"
                                    },
                                    "messages": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "role": {
                                                    "mode": "chose",
                                                    "label": "User"
                                                }
                                            }
                                        ]
                                    },
                                    "logit_bias": {
                                        "mode": "chose"
                                    },
                                    "tool_choice": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    },
                                    "response_format": {
                                        "mode": "chose",
                                        "label": "Text"
                                    },
                                    "reasoning_effort": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    },
                                    "additionalParameters": {
                                        "mode": "chose"
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "openai-gpt-3"
                                        },
                                        "label": "My OpenAI connection"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:openai-gpt-3",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "select",
                                    "type": "select",
                                    "label": "Select Method",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "chat",
                                            "prompt"
                                        ]
                                    }
                                },
                                {
                                    "name": "temperature",
                                    "type": "number",
                                    "label": "Temperature",
                                    "validate": {
                                        "max": 2,
                                        "min": 0
                                    }
                                },
                                {
                                    "name": "top_p",
                                    "type": "number",
                                    "label": "Top P",
                                    "validate": {
                                        "max": 1,
                                        "min": 0
                                    }
                                },
                                {
                                    "name": "n_completions",
                                    "type": "number",
                                    "label": "Number"
                                },
                                {
                                    "name": "frequency_penalty",
                                    "type": "number",
                                    "label": "Frequency Penalty",
                                    "validate": {
                                        "max": 2,
                                        "min": -2
                                    }
                                },
                                {
                                    "name": "presence_penalty",
                                    "type": "number",
                                    "label": "Presence Penalty",
                                    "validate": {
                                        "max": 2,
                                        "min": -2
                                    }
                                },
                                {
                                    "name": "logit_bias",
                                    "spec": {
                                        "name": "value",
                                        "spec": [
                                            {
                                                "name": "token",
                                                "type": "text",
                                                "label": "Token ID",
                                                "required": true
                                            },
                                            {
                                                "name": "probability",
                                                "type": "number",
                                                "label": "Probability",
                                                "required": true,
                                                "validate": {
                                                    "max": 100,
                                                    "min": -100
                                                }
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Token Probability"
                                    },
                                    "type": "array",
                                    "label": "Token Probability"
                                },
                                {
                                    "name": "seed",
                                    "type": "integer",
                                    "label": "Seed"
                                },
                                {
                                    "name": "tool_choice",
                                    "type": "select",
                                    "label": "Tool Choice",
                                    "validate": {
                                        "enum": [
                                            "none",
                                            "auto",
                                            "required"
                                        ]
                                    }
                                },
                                {
                                    "name": "stop",
                                    "spec": {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Stop Sequence"
                                    },
                                    "type": "array",
                                    "label": "Stop Sequences",
                                    "validate": {
                                        "maxItems": 4
                                    }
                                },
                                {
                                    "name": "additionalParameters",
                                    "spec": {
                                        "name": "value",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Parameter Name",
                                                "required": true
                                            },
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Input Type",
                                                "options": [
                                                    {
                                                        "label": "Text",
                                                        "value": "text",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Parameter Value"
                                                            }
                                                        ],
                                                        "default": true
                                                    },
                                                    {
                                                        "label": "Number",
                                                        "value": "number",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "number",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Boolean",
                                                        "value": "boolean",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "boolean",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Date",
                                                        "value": "date",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "date",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Any",
                                                        "value": "any",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "any",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Input Parameter"
                                    },
                                    "type": "array",
                                    "label": "Other Input Parameters"
                                },
                                {
                                    "name": "model",
                                    "type": "select",
                                    "label": "Model",
                                    "required": true
                                },
                                {
                                    "name": "max_tokens",
                                    "type": "uinteger",
                                    "label": "Max Output Tokens"
                                },
                                {
                                    "name": "messages",
                                    "spec": {
                                        "name": "value",
                                        "spec": [
                                            {
                                                "name": "role",
                                                "type": "select",
                                                "label": "Role",
                                                "options": {
                                                    "store": [
                                                        {
                                                            "label": "User",
                                                            "value": "user",
                                                            "nested": [
                                                                {
                                                                    "help": "Text content of the message on behalf of the selected __Role__.",
                                                                    "name": "content",
                                                                    "type": "text",
                                                                    "label": "Text Content"
                                                                }
                                                            ],
                                                            "default": true
                                                        },
                                                        {
                                                            "label": "Assistant",
                                                            "value": "assistant",
                                                            "nested": [
                                                                {
                                                                    "help": "Text content of the message on behalf of the selected __Role__.",
                                                                    "name": "content",
                                                                    "type": "text",
                                                                    "label": "Text Content"
                                                                },
                                                                {
                                                                    "mode": "edit",
                                                                    "name": "tool_calls",
                                                                    "spec": {
                                                                        "spec": [
                                                                            {
                                                                                "name": "type",
                                                                                "type": "hidden",
                                                                                "default": "function"
                                                                            },
                                                                            {
                                                                                "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                                                "name": "id",
                                                                                "type": "text",
                                                                                "label": "Tool call ID"
                                                                            },
                                                                            {
                                                                                "name": "function",
                                                                                "spec": [
                                                                                    {
                                                                                        "help": "The name of the function previously called.",
                                                                                        "name": "name",
                                                                                        "type": "text",
                                                                                        "label": "Name",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "help": "The arguments previously output by the AI.",
                                                                                        "name": "arguments",
                                                                                        "type": "text",
                                                                                        "label": "Arguments",
                                                                                        "required": true
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Function"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Tool Call"
                                                                    },
                                                                    "type": "array",
                                                                    "label": "Tool Calls",
                                                                    "labels": {
                                                                        "add": "Add tool call"
                                                                    },
                                                                    "mappable": {
                                                                        "help": "You can map the entire `Choices[]: Message.Tool Calls` array from a previous Create a Completion module here."
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Developer / System",
                                                            "value": "system",
                                                            "nested": [
                                                                {
                                                                    "help": "Text content of the message on behalf of the selected __Role__.",
                                                                    "name": "content",
                                                                    "type": "text",
                                                                    "label": "Text Content"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Tool",
                                                            "value": "tool",
                                                            "nested": [
                                                                {
                                                                    "help": "The return of the function. This role should only be used when you have processed a previous function call and want to send the output of the function execution back to the AI.",
                                                                    "name": "content",
                                                                    "type": "text",
                                                                    "label": "Text Content",
                                                                    "required": true
                                                                },
                                                                {
                                                                    "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                                    "name": "tool_call_id",
                                                                    "type": "text",
                                                                    "label": "Tool Call ID.",
                                                                    "required": true
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "required": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Message"
                                    },
                                    "type": "array",
                                    "label": "Messages",
                                    "required": true
                                },
                                {
                                    "name": "response_format",
                                    "type": "select",
                                    "label": "Response Format",
                                    "validate": {
                                        "enum": [
                                            "text",
                                            "json_object"
                                        ]
                                    }
                                },
                                {
                                    "name": "reasoning_effort",
                                    "type": "select",
                                    "label": "Reasoning Effort",
                                    "validate": {
                                        "enum": [
                                            "minimal",
                                            "low",
                                            "medium",
                                            "high"
                                        ]
                                    }
                                }
                            ],
                            "interface": [
                                {
                                    "name": "result",
                                    "type": "any",
                                    "label": "Result"
                                },
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                },
                                {
                                    "name": "object",
                                    "type": "text",
                                    "label": "Object"
                                },
                                {
                                    "name": "created",
                                    "type": "date",
                                    "label": "Created"
                                },
                                {
                                    "name": "model",
                                    "type": "text",
                                    "label": "Model"
                                },
                                {
                                    "name": "choices",
                                    "spec": [
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Text"
                                        },
                                        {
                                            "name": "index",
                                            "type": "number",
                                            "label": "Index"
                                        },
                                        {
                                            "name": "logprobs",
                                            "type": "text",
                                            "label": "Log Probs"
                                        },
                                        {
                                            "name": "finish_reason",
                                            "type": "text",
                                            "label": "Finish Reason"
                                        },
                                        {
                                            "name": "message",
                                            "spec": [
                                                {
                                                    "name": "role",
                                                    "type": "text",
                                                    "label": "Role"
                                                },
                                                {
                                                    "name": "content",
                                                    "type": "text",
                                                    "label": "Content"
                                                },
                                                {
                                                    "name": "tool_calls",
                                                    "spec": [
                                                        {
                                                            "name": "id",
                                                            "type": "text",
                                                            "label": "ID"
                                                        },
                                                        {
                                                            "name": "type",
                                                            "type": "text",
                                                            "label": "Type"
                                                        },
                                                        {
                                                            "name": "function",
                                                            "spec": [
                                                                {
                                                                    "name": "name",
                                                                    "type": "text",
                                                                    "label": "Name"
                                                                },
                                                                {
                                                                    "name": "arguments",
                                                                    "type": "text",
                                                                    "label": "Arguments"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Function"
                                                        }
                                                    ],
                                                    "type": "array",
                                                    "label": "Tool Calls"
                                                },
                                                {
                                                    "name": "refusal",
                                                    "type": "text",
                                                    "label": "Refusal"
                                                },
                                                {
                                                    "name": "annotations",
                                                    "spec": [
                                                        {
                                                            "name": "type",
                                                            "type": "text",
                                                            "label": "Type"
                                                        },
                                                        {
                                                            "name": "url_citation",
                                                            "spec": [
                                                                {
                                                                    "name": "end_index",
                                                                    "type": "number",
                                                                    "label": "End Index"
                                                                },
                                                                {
                                                                    "name": "start_index",
                                                                    "type": "number",
                                                                    "label": "Start Index"
                                                                },
                                                                {
                                                                    "name": "title",
                                                                    "type": "text",
                                                                    "label": "Title"
                                                                },
                                                                {
                                                                    "name": "url",
                                                                    "type": "text",
                                                                    "label": "URL"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "URL Citation"
                                                        }
                                                    ],
                                                    "type": "array",
                                                    "label": "Annotations"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Message"
                                        }
                                    ],
                                    "type": "array",
                                    "label": "Choices"
                                },
                                {
                                    "name": "usage",
                                    "spec": [
                                        {
                                            "name": "prompt_tokens",
                                            "type": "number",
                                            "label": "Prompt Tokens"
                                        },
                                        {
                                            "name": "completion_tokens",
                                            "type": "text",
                                            "label": "Completion Tokens"
                                        },
                                        {
                                            "name": "total_tokens",
                                            "type": "number",
                                            "label": "Total Tokens"
                                        },
                                        {
                                            "name": "prompt_tokens_details",
                                            "spec": [
                                                {
                                                    "name": "cached_tokens",
                                                    "type": "uinteger",
                                                    "label": "Cached Tokens"
                                                },
                                                {
                                                    "name": "text_tokens",
                                                    "type": "uinteger",
                                                    "label": "Text Tokens"
                                                },
                                                {
                                                    "name": "image_tokens",
                                                    "type": "uinteger",
                                                    "label": "Image Tokens"
                                                },
                                                {
                                                    "name": "audio_tokens",
                                                    "type": "uinteger",
                                                    "label": "Audio Tokens"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Prompt Tokens Details"
                                        },
                                        {
                                            "name": "completion_tokens_details",
                                            "spec": [
                                                {
                                                    "name": "reasoning_tokens",
                                                    "type": "uinteger",
                                                    "label": "Reasoning Tokens"
                                                },
                                                {
                                                    "name": "text_tokens",
                                                    "type": "uinteger",
                                                    "label": "Text Tokens"
                                                },
                                                {
                                                    "name": "audio_tokens",
                                                    "type": "uinteger",
                                                    "label": "Audio Tokens"
                                                },
                                                {
                                                    "name": "accepted_prediction_tokens",
                                                    "type": "uinteger",
                                                    "label": "Accepted Prediction Tokens"
                                                },
                                                {
                                                    "name": "rejected_prediction_tokens",
                                                    "type": "uinteger",
                                                    "label": "Rejected Prediction Tokens"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Completion Tokens Details"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Usage"
                                },
                                {
                                    "name": "service_tier",
                                    "type": "text",
                                    "label": "Service Tier"
                                },
                                {
                                    "name": "system_fingerprint",
                                    "type": "text",
                                    "label": "System Fingerprint"
                                }
                            ]
                        }
                    },
                    {
                        "id": 39,
                        "module": "openai-gpt-3:askAnything",
                        "version": 1,
                        "parameters": {},
                        "mapper": {
                            "model": "gpt-5.5",
                            "textPrompt": "Write a highly engaging, punchy YouTube Shorts video script based on the following topic.\r\n\r\nTopic: {{1.`0`}}\r\nCRITICAL FORMATTING INSTRUCTIONS:\r\n1. Divide the script into short, punchy, individual scenes or sentences (max 10-15 words per line).\r\n2. You must separate each scene/line using exactly three dashes on a brand new line (\"---\").\r\n3. Do not include any conversational filler, introductory remarks, or concluding text. Output ONLY the raw scenes separated by the dashes.\r\n\r\nExample Output Format:\r\n[Visual: Fast edit] Audio: Stop learning coding the old way!\r\n---\r\n[Visual: Screen glowing] Audio: AI is changing everything in 2026.\r\n---\r\n[Visual: Text graphic] Audio: Focus on logic and architecture instead."
                        },
                        "metadata": {
                            "designer": {
                                "x": 36,
                                "y": 677,
                                "messages": [
                                    {
                                        "category": "reference",
                                        "severity": "error",
                                        "message": "'OpenAI (ChatGPT, Sora, Whisper) - Simple text prompt' [module ID 39] references inaccessible module 'Google Sheets - Watch New Rows' [module ID 1]."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "model": {
                                        "label": "GPT-5.5The ultimate frontier model for autonomous reasoning and state-of-the-art multimodal intelligence"
                                    }
                                }
                            },
                            "expect": [
                                {
                                    "name": "model",
                                    "type": "select",
                                    "label": "Model",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "gpt-5.5",
                                            "gpt-5.4-nano",
                                            "gpt-5.4-mini",
                                            "gpt-5.4",
                                            "gpt-5.3-chat-latest",
                                            "gpt-5.2",
                                            "gpt-5.1",
                                            "gpt-5",
                                            "gpt-5-nano",
                                            "gpt-5-mini"
                                        ]
                                    }
                                },
                                {
                                    "name": "textPrompt",
                                    "type": "text",
                                    "label": "Text prompt",
                                    "required": true
                                }
                            ]
                        }
                    }
                ]
            ]
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}